[Unit]
Description=Blueberry Tray

[Service]
ExecStart=/usr/bin/blueberry-tray
Restart=always
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
