[Unit]
Description=Blueberry Tray
After=power-on-bluetooth.service

[Service]
ExecStart=/usr/bin/blueberry-tray
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
