[Unit]
Description=PulseAudio system tray
After=graphical.target

[Service]
ExecStart=/usr/bin/pasystray
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
