[Unit]
Description=PulseAudio system tray

[Service]
ExecStart=/usr/bin/pasystray
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
