[Unit]
Description=Bluetooth power on
After=graphical.target

[Service]
ExecStart=/usr/local/bin/power-on-bluetooth

[Install]
WantedBy=initrc.target
