[Unit]
Description=qBittorrent
After=graphical.target

[Service]
ExecStart=/usr/bin/qbittorrent
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
