[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=chris
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/usr/local/bin/i3exit lock

[Install]
WantedBy=sleep.target
