[Unit]
Description=TeamViewer client
After=graphical.target

[Service]
ExecStart=/opt/teamviewer/tv_bin/TeamViewer
Restart=always
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
